@page "/finished"

<div class="container">

    <div class="timeline">

        <div class="project">
            <div class="data">June 2021 </div>
            <div class="projImg" style="background-image: url(/jpg/new.png)"></div>

            <div class="description">
                <div class="title2">CV website</div><br />
                <div class="text-justify">Project made in Blazor and .Net</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/MateuszKostCV" target="_blank">code</a>
        </div>

        <br />

        <div class="project">
            <div class="data">February 2021</div>
            <div class="projImg" style="background-image: url(/jpg/elektronika.jpg)"></div>

            <div class="description">
                <div class="title2">8 Button buzzer</div><br />
                <div class="text-justify">Simple electronic project programmed in C. Atmega 32A which was used in this project calculates time difference between buttons, and sends signal to display where the faster one is showed</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/8buttonsQuizBuzzer" target="_blank">code</a>
            <a class="btn btn-danger" href="https://www.youtube.com/watch?v=B4aPQxcfOoA&ab_channel=MateuszKost" target="_blank">yt</a>
        </div>

        <br />

        <div class="project">
            <div class="data">January 2021</div>
            <div class="projImg" style="background-image: url(/jpg/Hill.png)"></div>

            <div class="description">
                <div class="title2">Hill Cipher</div><br />
                <div class="text-justify">Programmed in C# and ASM. After giving text to program, it will code it in the Hill cipher. The program is made to both, for coding and decoding the text.</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/theHillCipher" target="_blank">code</a>
        </div>

        <br />

        <div class="project">
            <div class="data">December 2020</div>
            <div class="projImg" style="background-image: url(/jpg/io.png)"></div>

            <div class="description">
                <div class="title2">Production Support System</div><br />
                <div class="text-justify">It was group project, where I put some work in controllers, view and connection with databases. Its simple project for small Corporation, where we want to get better profits.</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/SystemWspomaganiaProdukcji" target="_blank">code</a>
        </div>

        <br />

        <div class="project">
            <div class="data">June 2020</div>
            <div class="projImg" style="background-image: url(/jpg/DietPlan.png)"></div>

            <div class="description">
                <div class="title2">Diet Plan</div><br />
                <div class="text-justify">It's a simple project made in C++, where we can get a diet plan according to our answers into the program questions.</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/DietPlan" target="_blank">code</a>
        </div>

        <br />

        <div class="project">
            <div class="data">February 2020</div>
            <div class="projImg" style="background-image: url(/jpg/WhatToCook.png)"></div>

            <div class="description">
                <div class="title2">What to cook</div><br />
                <div class="text-justify">It's a project wrote in C++, according to our answers program will tell us what we can cook from our ingredients.</div>
            </div>
            <a class="btn btn-success" href="https://github.com/MateuszKost/WhatToCook" target="_blank">code</a>
        </div>

        <br />

    </div>
</div>

@code {

}
