@page "/in-process"

<div class="container">

    <div class="timeline">

        <div class="project">
            <div class="data">October 2021 </div>
            <div class="description">
                <div class="title2">My Math site</div><br />
                <div class="text-justify">It is my engineering project. It will be programmed in .Net and Angular.</div>
            </div>
        </div>

        <br />

        <div class="project">
            <div class="data">June 2021</div>
            <div class="description">
                <div class="title2">Smart Collection</div><br />
                <div class="text-justify">It's a group project made in .Net and Blazor. </div>
            </div>
        </div>

        <br />

    </div>
</div>

@code {

}
