@page "/skills"

    <div class="container">
        <div class="skills">

            <img class="col-lg-3 col-sm-5" src="/jpg/cpp.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/c-logo.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg//website.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/pngaaa.com-4842619.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/css-3.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/html.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/bootstrap.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/github.png" />
            <img class="col-lg-3 col-sm-5" src="/jpg/sql.png" />

        </div>
    </div>
    @code {

    }
