
<footer class="footer bg-transparent">
    <div class="container mt-auto">
        <div class="copyright text-center mx-auto">
            <span>Copyright  &copy; Mateusz Kost 2021</span>
        </div>
    </div>
</footer>