@inherits LayoutComponentBase

    <div class="page" style="background-image: linear-gradient(#f6f1d3, #648880 85%, #293f50); overflow: auto">
        <div class="sidebar" style="background-image: linear-gradient(#f6f1d3, #648880 85%, #293f50); border-style: none solid none none; border-color: white; border-width: thin; overflow: auto">
            <NavMenu />
        </div>

        <div class="main" style="background-image: linear-gradient(#f6f1d3, #648880 85%, #293f50); overflow: auto">

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
